body, .settingIcon {
  background-color: #191A1C;
}

* {
  color: white;
}

.nav {
  background-color: #191A1C;
  box-shadow: 0px 0px 5px 1px;
}

.modal {
  background-color: #333333;
  border: 0.5vh solid #31AF91;
}

.slct {
  background-color: black;
}

.btn {
  background-color: #31AF91;
  border: none;
}

.ipt {
  border: none;
  background-color: #555555;
}

::selection {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 1060px) {
  .btn:hover, .visitComment:hover, .visitWebsite:hover {
    border: 2px solid #31AF91;
    background-color: #333333;
  }

  .a:hover{
    border-bottom: 0.1vh solid white;
  }
}
