
*.stash
*.user
*.o
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_server.cpp
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/Server.exe
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/mainDataBase.db3
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/Makefile
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/Makefile.Debug
*.Release
*.autosave
Backend/sqlite3.c
Backend/sqlite3.h
clear.sql
*.crt
*.key
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/qrc_resources.cpp
*.pem
*.srl
Backend/sslKeyPassphrase.txt
*.csr
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/popup.html
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/options.html
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/popup.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/createComments.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/backend.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/index.html
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/icon.png
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/CSS/animations.css
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/CSS/style.css
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/js/jquery-ui.min.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/js/jquery-3.3.1.min.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/autoscroll.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/favicon.ico
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/ArrowDown.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/fonts/LICENSE.txt
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/fonts/Roboto-Bold.ttf
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/fonts/Roboto-Medium.ttf
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/fonts/Roboto-Regular.ttf
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/ArrowDown.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/comment.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/comment_icon.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/comment_white.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/icon.png
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/like.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/star.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/assets/icons/user.svg
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/background.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/handleInputData.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/JS/options.js
build-Server-Desktop_Qt_5_11_1_MinGW_32bit-Debug/manifest.json
