*.stash
*.user
*.o
*.Release
*.autosave
Backend/sqlite3.c
Backend/sqlite3.h
clear.sql
*.crt
*.key
*.pem
*.srl
*.csr
build-Server*
data/*
old versions/*
Server/a.out
Server/bin
Server/obj
Server/data
Server/Server.*
Server/cJSON*
Server/server
Server/build.sh
Server/test
