*.stash
*.user
*.o
*.Release
*.autosave
clear.sql
*.crt
*.key
*.pem
*.srl
*.csr
Server/a.out
Server/bin
Server/obj
Server/data
Server/Server.*
Server/cJSON*
Server/server
Server/build.sh
Server/test
Backend
