body {
  background-color: #252525;
}

* {
  color: white;
}

.select {
  background-color: black;
  width: 30vw;
  padding: 5px;
}



.option {
  color: black;
}

.button {
  background-color: #333333;
  border: none;
  color: white;
}

.input {
  border: none;
  border-bottom: 2px solid gray;
}

::selection {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 1060px) {
  .button:hover {
    border: 2px solid black;
    background-color: #4285f4;
    color: black;
  }

  .select:hover {
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 1060px) {
  .select:focus {
    background-color: white;
    color: black;
  }
}
