body {
  background-color: white;
}

.button {
  background-color: #31AF91;
  border: none;
  color: white;
}

.select {
  border: 2px solid #31AF91;
}

.input {
	border: none;
	border-bottom: 2px solid gray;
}

.visitWebsite {
	
}

@media only screen and (min-width: 1060px) {
  .button:hover {
    border: 2px solid #31AF91;
    background-color: white;
    color: black;
  }
}
