body {
  background-color: white;
}

.button, .visitComment, .visitWebsite {
  background-color: #31AF91;
  border: none;
  color: white;
}

.select {
  border: 2px solid #31AF91;
}

.input {
	border: none;
	border-bottom: 2px solid gray;
}

::selection {
    color: white;
    background-color: #31AF91;
}

@media only screen and (min-width: 1060px) {
  .button:hover, .visitWebsite:hover, .visitComment:hover {
    border: 2px solid #31AF91;
    background-color: white;
    color: black;
  }
}
