@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

html {
  width: 100%;
  height: 100%;
}

.showUserdata {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.showUserdata>* {
  margin: 1%;
}

.button, .input {
  width: 60%;
  transition: 0.2s;
  padding: 5px;
  border: none;
}

.button {
  background-color: rgba(49, 175, 145, 1);
  color: white;
  cursor: pointer;
}

.button:hover {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  border-bottom: 2px solid gray;
}

.input:focus, .input:hover {
  width: 70%;
}

#error {
  font-size: 13px !important;
}
