@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button, .btnAccount {
  background-color: #31AF91;
  border: none;
  color: white;
}
