@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Medium.ttf);
}

html {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  transition: 0.2s;
}

.row {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.modal {
  display: none;
  position: absolute;
  top: 15vh;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  height: 70vh;
  text-align: center;
  overflow: auto;
}

.modalSettings {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.modalSettings>*{
  margin: 1vh;
}

.modalHead {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  top: 3vh;
  width: 70vw;
  box-shadow: 0 4px 2px -2px gray;
  padding: 0 0 1vh 0;
  margin: 0 !important;
}

.modalColumn>* {
  margin: 1vh;
}

.modalColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  height: calc(100% - 15vh);
}

.closeSpan {
  position: absolute;
  top: 0;
  right: 2vh;
  font-size: 3.5vw;
  cursor: pointer;
}

.linkDiv {
  position: absolute;
  bottom: 0;
  left: 0.5vh;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 40vw;
}

.linkDiv>* {
  margin: 1vw;
}

.linkTo {
  font-size: 1vw;
}

.settingIcon {
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 6.5vh;
}

.githubIcon {
  position: absolute;
  top: 2vh;
  right: 10vh;
  width: 6.5vh;
}

.btn {
  height: 5vh;
  width: 30vw;
  transition: 0.2s;
  cursor: pointer;
}

.ipt {
  padding: 1vh;
}

.slct {
  height: 5vh;
  width: 30vw;
  transition: 0.2s;
  cursor: pointer;
}

.a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.topComments, .topWebsites {
  display: flex;
  align-items: center;
}

.commentDiv, .websiteDiv {
  transition: 0.2s;
  box-shadow: 0px 0px 7px 1px;
  border-radius: 1vh;
  width: 40vw;
}

.topComments>*, .topWebsites>* {
  margin: 2vh;
}

.visitComment, .visitWebsite {
  width: 40vw;
  border-radius: 0 0 1vh 1vh;
}

.lneModal {
  position: relative;
  top: 3vh;
  height: 55vh;
}

@media only screen and (min-width: 1060px) {
  .commentDiv:hover, .websiteDiv:hover, .nav:hover {
    box-shadow: 0px 0px 10px 3px;
  }

  .lne {
    display: none;
  }

  .a {
    transition: 0.2s;
  }
}


@media only screen and (max-width: 1060px) {
  * {
    font-size: 4vw;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topComments {
    margin-bottom: 5vh;
  }

  .topWebsites {
    margin-top: 5vh;
  }

  .lne {
    width: 100vw;
  }

  .closeSpan {
    font-size: 6vh;
  }

  .linkToGithub {
    font-size: 2.5vw;
  }

  .linkTo {
    font-size: 2.5vw;
  }

  .lneModal {
    width: 55vw;
    margin-top: 5vh;
  }

  .modal {
    display: flex;
    flex-direction: column;
    max-height: 200vh;
    overflow-y: auto;
  }

  .modalSignIn {
    position: relative;
    top: 7vh;
    margin-bottom: 3vh;
  }

  .modalSignUp {
    position: relative;
    top: 7vh;
  }
}
