.flexbox {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 80%;
}

@media only screen and (min-width: 1060px) {
    .button {
        width: 30%;
        height: 4%;
    }
}

@media only screen and (max-width: 1060px) {
    .button {
        width: 50%;
        height: 7%;
    }
}