.row {
  margin-top: 11vh;
}

#topWebsites>*, #topComments>* {
  margin: 10px;
}

#topWebsites, #topComments {
  display: flex;
  align-content: center;
  margin: 20px;
}

@media only screen and (max-width: 1060px) {
  #topWebsites, #topComments {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vh;
    width: 100vw;
  }

  #topWebsites>*, #topComments>* {
    margin: 3vh;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comments, .visitComment, .websites, .visitWebsite {
    width: 80vw;
  }

  #login {
    font-size: 2em;
  }
}
