.nav {
  height: 10vh;
}

.button {
  width: 30vw;
}

.row {
  margin-top: 11vh;
}

#topWebsites>*, #topComments>* {
  margin: 10px;
}

#topWebsites, #topComments {
  display: flex;
  align-content: center;
  margin: 20px;
}
