@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Medium.ttf);
}

html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.input {
    border: none;
}

.select {
    border: none;
}

.a, .a:visited {
    text-decoration: none;
}

#setting {
    position: fixed;
    background-color: white;
    right: 20px;
    top: 20px;
}

#icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.modal {
    display: none;
    position: absolute;
    top: 15vh;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 500px;
    align-items: center;
}

.modal>* {
    margin: 10px;
}

/*Handy/Tablet*/
@media only screen and (max-width: 1060px) {
    * {
        font-size: 40px;
    }

    .button, .input, .select {
        width: 50vw;
        height: 7vh;
    }

    #error {
        font-size: 18px;
    }
}

/*Desktop*/
@media only screen and (min-width: 1060px) {
    * {
        font-size: 18px;
    }

    .button, .input, .select {
        width: 30vw;
        height: 4vh;
    }

    .button{
        transition: 0.2s;
    }

    #error {
        font-size: 13px;
    }
}
