@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Medium.ttf);
}

html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.input {
  border: none;
}

.select {
  border: none;
}

.a, .a:visited {
  text-decoration: none;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  transition: 0.2s;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#setting {
  position: absolute;
  display: flex;
  background-color: white;
  right: 2vh;
  top: 2vh;
  width: 6.5vh;
  height: 6.5vh;
  font-size: 1em;
}

#icons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.modal {
  display: none;
  position: absolute;
  top: 15vh;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  align-items: center;
  text-align: center;
}

.modal>* {
  margin: 1vh;
}

.closeSpan {
  position: absolute;
  top: 0vh;
  right: 2vh;
  font-size: 4em;
  cursor: pointer;
}

.comments {
  transition: 0.2s;
  box-shadow: 0px 0px 7px 1px;
  border-radius: 14px;
  width: 50vw;
}

.bold, .commentTitle {
  font-weight: bold;
}

.visitComment {
  transition: 0.2s;
  width: 50vw;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 4vh;
  margin-top: 1vh;
}

.websites {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-radius: 14px;
  box-shadow: 0px 0px 7px 1px;
  transition: 0.2s;
}

.btnDiv {
  display: flex;
  align-items: flex-end;
}

.visitWebsite {
  transition: 0.2s;
  width: 40vw;
  height: 4vh;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  margin-top: 1vh;
}


/*Handy/Tablet*/
@media only screen and (max-width: 1060px) {
  * {
    font-size: 1.6rem;
  }

  .button, .input, .select {
    width: 50vw;
    height: 7vh;
  }

  #error {
    font-size: 18px;
  }

  .modalButton, .modalInput, .modalSelect {
    width: 80vw !important;
  }

  #login {
    width: 60vw;
  }

  .modalLabel {
    font-size: 2em;
  }
}

/*Desktop*/
@media only screen and (min-width: 1060px) {
  * {
    font-size: 1em;
  }

  .button, .input, .select {
    width: 30vw;
    height: 4vh;
  }

  .button {
    transition: 0.2s;
  }

  #error {
    font-size: 13px;
  }
}
