body {
	background-color: #252525;
}

.title, .footer {
	background-color: #4D4D4D;
	color: white;
}

.button {
	background-color: #333333;
	border: none;
	color: white;
}

.button:hover {
	border: 2px solid black;
	background-color: #4285f4;
	color: black;
}

.input {
	border: none;
	border-bottom: 2px solid gray;
}

::selection {
	color: black;
	background-color: white;
}

.comment {
	background-color: #7F7F7F;
}

.comments {
	background-color: #999999;

}
