@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

/*Keine Scrollbar*/
::-webkit-scrollbar { 
    display: none; 
}

.footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.title {
	background-color: white;
	position: sticky;
	top: 0;
	width: 100%;
}

.button {
	width: 200px;
	height: 40px;
	background-color: #31AF91;
	border: none;
	color: white;
	transition: 0.4s;
}

.button:hover {
	border: 2px solid #31AF91;
	background-color: white;
	color: black;
}

textarea {
	resize: none;
	height: 100px;
}

.input {
	padding: 5px;
	width: 190px;
}

::selection {
	color: white;
	background-color: #31AF91;
}

