.commentTitle {
	text-align: center;
	font-weight: 500;
	box-shadow: 1px 1px 5px gray;
	padding: 15px;
	margin-bottom: 10px;
}

.commentUser {
	font-weight: 500;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

.commentContent {
	margin: 5px;
	margin-bottom: 25px;
}

.comment {
	box-shadow: 1px 1px 5px gray;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5px;
	margin-bottom: 25px;
}

.like {
	width: 100% !important;
	margin-bottom: 25px;
}