html {
	height: 600px;
}

body {
	width: 300px;
	height: 600px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
	margin-bottom: 25px;
	padding: 5px;
	height: 30px;
	box-shadow: 1px 1px 10px gray;
}

.footer {
	display: flex;
	justify-content: center;
	min-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 1px 1px 10px gray;
}

.commentInput {
	display: none;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.commentInput > * {
	margin: 5px;
}

#icon {
	position: fixed;
	left: 65px;
}