body {
	width: 300px;
	height: 600px;
}

.title {
	font-weight: bold;
	margin-bottom: 25px;
	padding: 5px;
	height: 30px;
	text-align: center;
	box-shadow: 1px 1px 10px gray;
}

.footer {
	display: sticky;
	text-align: center;
	bottom: 0;
	padding: 10px;
	height: 40px;
	box-shadow: 1px 1px 10px gray;
}

#comments {
	height: 500px;
}

.commentInput {
	display: none;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.commentInput > * {
	margin: 5px;
}