body, #root {
    width: 350px;
    height: 600px;
    font-family: serif !important;
}

/*scrollbar*/

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: #f57c00 !important;
}

::-webkit-scrollbar-track-piece {
    background-color: #ff9800 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #e65100 !important;
}